.login_body {
  background-color: #fafafa;
}

.btn-bd-primary {
  --bs-btn-font-weight: 600 !important;
  --bs-btn-color: #ffffff !important;
  --bs-btn-bg: #f45446 !important;
  --bs-btn-border-color: #f45446 !important;
  --bs-btn-border-radius: 0.5rem !important;
  --bs-btn-hover-color: #f45446 !important;
  --bs-btn-hover-bg: #f45446 !important;
  --bs-btn-hover-border-color: #f45446 !important;
  --bs-btn-focus-shadow-rgb: #f45446 !important;
  --bs-btn-active-color: #f45446 !important;
  --bs-btn-active-bg: #f45446 !important;
  --bs-btn-active-border-color: #f45446 !important;
}
