@page
@model Top_Seguros_Brasil_Web.Pages.Login.LoginModel
@{
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    @* <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    /> *@
    <link rel="stylesheet" href="css/css.css" />

    <title>TSB - Login de Cliente</title>
  </head>
  <body>
    @* This page has a image in the middle, and two buttons below. The first button is white and has the text "Me Cadastrar", the second one only has the text "Entrar". *@
    
  </body>
</html>

