<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TopSegurosBrasilWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TopSegurosBrasilWeb.styles.css" asp-append-version="true" />


</head>
<body onload="getMarcas()">

    <div class="container">

        <div class="input-group input-group-lg size">
            <input type="text" class="form-control inp" id="inputGroupSelect01" autocapitalize="off" placeholder="Estado da ocorrência" aria-label="Estado da ocorrência" aria-describedby="basic-addon1">
        </div>

        <div class="input-group input-group-lg size">
            <input type="text" class="form-control inp" id="inputGroupSelect02" autocapitalize="off" placeholder="Municipio" aria-label="Municipio" aria-describedby="basic-addon1">
        </div>

        <div class="size">
            <a class="cadastro-link" onclick="AcionarSeguro4()"><button type="button" class="btn input-group input-group-lg">CONTINUAR</button></a>
        </div>

    </div>
    <script src="~/js/AcionarSeguroII.js" asp-append-version="true"></script>

</body>
