<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TopSegurosBrasilWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TopSegurosBrasilWeb.styles.css" asp-append-version="true" />


</head>
<body>

    <div class="container">

        <div class="input-group mb-3">
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Marca</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Modelo</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <select class="form-select" id="inputGroupSelect01">
                <option selected>Ano</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>

        <div class="size">
            <a class="cadastro-link" asp-area="" asp-controller="Home" asp-action="CadastroV"><button type="button" class="btn input-group input-group-lg">ENTRAR</button></a>
        </div>

    </div>

</body>
