<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TopSegurosBrasilWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/CadastroCobertura.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TopSegurosBrasilWeb.styles.css" asp-append-version="true" />
</head>
<body onload="loadScript()">    
   
    <div class="card" style="width: 20rem;" >
        <div class="card-body titleCar">
            <span class="cor">Chevrolet Celta</span>
            <img  src ="~/img/carrin.png"  />
        </div>
        <hr>
        
        <div class="card-body">
            <p>Cobertura escolhida</p>
            <b><span id="">Atenção pro possante</span></b>
            <p id="Descricao">Descrição.</p><br>
            <p class="colorBlue">Cobertura total (100%) dos itens listados.</p>
        </div>
        <hr>
        <div class="card-body monthlyValue">
            <p>Valor Mensal</p>
            <p class="colorValue" id="valorMensal">R$</p>
        </div>
        <hr>
        <div class="card-body reimbursement">
            <p>Reembolso</p>
            <p class="colorValue" id="reembolso">R$</p><br>
        </div>
        
        <div class="size">
            <a class="cadastro-link" asp-area="" asp-controller="Home" asp-action="CadastroVII"><button type="button" class="btn input-group input-group-lg">CONFIRMAR E SOLICITAR SEGURO</button></a>
        </div>
    </div>
    <script src="~/js/cadastroCobertura.js" asp-append-version="true"></script>
</body>
