<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TopSegurosBrasilWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/DetalhesCobertura.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CadastroCobertura.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TopSegurosBrasilWeb.styles.css" asp-append-version="true" />
</head>
<body onload="loadDocument()" style="background-color: #FAFAFA !important;">
    
    <div class="container">
      <div class="card" style="width: fit-content;">
        <div class="card-body titleCar" style="border-top-left-radius: 25px; border-top-right-radius: 25px;">
          <span class="cor" id="nomeVeiculo"></span>
          <span class="cor" id="anoVeiculo"></span>
          <img src="/img/carrin.png" style="height: auto; width: auto;">
        </div>
        <hr style="margin-top: 0px; margin-bottom: 0px;">
        <div class="card-body" style="padding-bottom: 0px; margin-bottom: 0px;">
          <p>Cobertura escolhida</p>
          <b>
            <span id="nomeCobertura"></span>
          </b>
          <p id="descricaoCobertura"></p>
          <p class="colorBlue" id="taxaIndenizacao"></p>
        </div>
        <hr style="margin-top: 0px; margin-bottom: 0px;">
        <div class="card-body monthlyValue">
          <p>Valor mensal</p>
          <p class="colorValue" style="color: rgb(2, 85, 156); font-weight: bold;" id="premio"></p>
        </div>
        <hr style="margin-top: 0px; margin-bottom: 0px;">
        <div class="card-body reimbursement">
          <p>Reembolso</p>
          <p class="colorValue" style="color: rgb(2, 85, 156); font-weight: bold;" id="indenizacao"></p>
        </div>
        <div class="size">
          <button type="button" class="btn input-group input-group-lg" id="startPolicy">ACIONAR SEGURO</button>
        </div>
        <br>
         <div class="cad">
            <button type="button" class="btn input-group input-group-lg gss" id="downloadButton">BAIXAR APÓLICE</button></a>
        </div>
    </div>
    </div>
<script src="~/js/detalhesCobertura.js" asp-append-version="true"></script>
</body>
</html>

