<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TopSegurosBrasilWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/DetalhesCobertura.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TopSegurosBrasilWeb.styles.css" asp-append-version="true" />
</head>
<body>
    
    <div class="container">
        <div class="card" style="width: 22rem">
            <div class="card-body">
            <h5 class="card-title">Chevrolet Celta</h5>
            <h6 class="card-subtitle mb-2 text-muted">2008</h6>

            <div class="rowCard">
                    <div><h6 href="#" class="card-link">Ocorrência registrada</h6></div>
                    <div><h6 href="#" class="card-link">EM ÁNALISE</h6></div>
            </div>

                <h5 class="card-title">Furto</h5>
                <h6 class="card-subtitle mb-2 text-muted">Veiculo furtado em rua tal</h6>

                <div>
                <h5 class="card-title boletim">Boletim de Ocorrência</h5>
                </div>

                <h6 class="card-subtitle mb-2 text-muted">Cobertura total (100%) de todos os itens listados</h6>

                <h7 class="card-subtitle mb-2 text-muted">LOCAL</h7>
                <h6 class="card-subtitle mb-2 text-muted">cidade - UF</h6>

                <div class="atualizacoes">
                <h6 class="card-subtitle mb-2 text-muted">Atualizações</h6>
                <p class="card-text">Todas as atualizações da sua ocorrência estarão disponíveis aqui.</p>
                </div>
        
            </div>
        </div>
    </div>
    
</body>

