<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TopSegurosBrasilWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/DetalhesCobertura.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CadastroCobertura.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TopSegurosBrasilWeb.styles.css" asp-append-version="true" />
</head>
<body onload="loadDocument()" style="background-color: #FAFAFA !important;">
    
    <div class="container">
      
    </div>
<script src="~/js/detalhesCobertura.js" asp-append-version="true"></script>
</body>
</html>

