<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TopSegurosBrasilWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TopSegurosBrasilWeb.styles.css" asp-append-version="true" />

      <style type="text/css">
          .container{
               flex-direction: column-reverse;
               align-items: center;
               align-center: center;
               width: 331px;
          }

          .btn {
            background-color: #F45446;
          }
         
          .icon_login{
              align-items: center;
              align-center: center;
          }

          div{
              margin: 0 0 20px 0;
          }

          .input-group {
              border-radius: 3.5px
          }

      </style>

  </head>
  <body>


      <div class="container">

         <div class="icon_login">
            <img src="~/img/34. newsletter-2.png" alt="icone" class="icone" />
         </div>

         <div class="input-group input-group-lg">
            <input type="text" class="form-control inp" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
          </div>

        <div class="input-group input-group-lg">
            <input type="text" class="form-control inp" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
       </div>

        <div>
            <button type="button" class="btn input-group input-group-lg">Small button</button>
         </div>

       </div>

  </body>