
@{
    ViewData["Title"] = "UserPage";
}
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - TopSegurosBrasilWeb</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/DetalhesCobertura.css" asp-append-version="true" />
</head>
<body onload="loadDocument()">
    <div class="card">

        @* <h2>Suas coberturas</h2>

        <div class="card-body">
            <h5 id="coverageTitle" class="card-title"></h5>
            <p id="coverageDescription" class="card-text"></p>
            <p id="coverageStatus" class="card-text"><small class="text-muted"></small></p>
            <p id="coveragePrice" class="card-text"><small class="text-muted"></small></p>
        </div> *@

    </div>
    <script src="~/js/UserPage.js" asp-append-version="true"></script>
</body>